.css-19r6kue-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}

.probandoDos {
    padding-left: 0px;
    padding-right: 0px;
}

.bar {
    background-color: #0d275f;
}