@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  color: white;
}
html {
  scroll-behavior: smooth;
}

/* Añade animación de desplazamiento */
html {
  scroll-behavior: smooth;
  transition: scroll-behavior 1s ease;
}